[checkout]
	workers = 0 # As many as cores
[column]
	ui = auto
[commit]
	gpgSign = true
[core]
	compression = 9
	editor = vim
[diff]
	renames = copies
[fetch]
	parallel = 0
[gpg]
	format = ssh
[init]
	defaultBranch = main
[merge]
	guitool = vimdiff2
[pull]
	ff = true
	rebase = true
[push]
	autoSetupRemote = true
	gpgSign = if-asked
[rebase]
	autoStash = true
[status]
	showStash = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = Florian Greistorfer
	email = flo.greistorfer@sorogon.eu
	signingkey = /home/user/.ssh/id_ed25519

[author]
	email = flo.greistorfer@sorogon.eu
